*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #fff #001219;
    transition: 500ms;
    font-family: 'Harry Potter', sans-serif;
}
*::-webkit-scrollbar{
    width: 10px;
}
*::-webkit-scrollbar-track{
    background: #001219;
}
*::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 20px;
    border: 3px solid #001219;
}
body{
    width: 100vw;
    color: #fff;
    background-color: #001219;
                                                
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home{
    width: 100%;
    height: 100vh;   
}
.bg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    inset: 0;
    z-index: -1;
}
.home h1{
    font-size: 70px;
    user-select: none;
    color: #1c1c1c;
}
.home .arrow{
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 0;
}
.arrow i{
    font-size: 35px;
    color: #fff;
    animation: arrow 3s ease-in-out infinite;
}
@keyframes arrow {
        0%,100%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(-20px);
        }
}
.content {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #001219;
   
}
.content .characters{
    width: 100%;
    height: auto;
     z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
}
.characters .card-character{
    width: 250px;
    height: 400px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 10px; */
    overflow: hidden;
    color: aliceblue;
    cursor: pointer;
}
.card-character .character-img{
    height: 200px;
    width: 140px;
    object-fit: cover;
    border: 5px double goldenrod ;
    padding: 2px;
}
.card-character:hover{
    scale: 1.06;
    border: 1px solid goldenrod;
    border-radius: 20px;
}
.card-character .name-character{
    margin-top:10px;
}
.card-character .house-character{
    width: 45px;
    margin: 5px;
    filter: drop-shadow(0 0 0.2rem black);
}
.card-character .name-actor{
    text-align: center;
    height: 50px;
    color: #c1c1c1;
}
.content .title-filter{
    margin: 20px;
    font-size: 35px;
    letter-spacing: 5px;
}
.buttons{
    width: 100%;
}
.buttons button{
    width: 24%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin: 5px;
    border: none;
    color: #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.buttons button:focus{
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    animation: border-btn 5s ease-in-out infinite;
}
@keyframes border-btn {
    0%, 100%{
        border-left: 5px solid #fff;
        border-right: 5px solid #fff;
    }
    50%{
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }
    
}
.buttons button img{
    object-fit: cover;
    height: 200px;
}
button span{
    font-size: 35px;
}
.enter-card{
    animation: enter 3s ease-in-out;
}
@keyframes enter {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media (max-width:600px){
    .bg{
        width: 100vw;
        height: 100vh;
    }
    .home h1{
        font-size: 60px;
    }
    .buttons button span{
        display: none;
    }
    .buttons button img{
        width: 80px;
        object-fit: contain;
    }
}
@media (max-width:480px){
    .characters .card-character{
        width: 100vw;
        margin: 0 0 3px 0;
    }
}